In [1]:
#####   Built in Data Types
# Text type - str
# Numeric Type - int, float, complex
# Sequence Type - list, tuple, range
# Mapping Types - dict
# Set types : set, frozenset
# Boolean Type - bool
# Binary Type - bytes, bytearray, memoryview
# None Type - NoneType

In [3]:
#Getting datatype
x = 5
print(type(x)) #type is built in keyword used to get the type of function

<class 'int'>

In [4]:
#In Python, the datatype is set when you assign a value to a variable.

In [7]:
#  STR 
print(type('Hello'))

<class 'str'>

In [8]:
# INT
print(type(3))

<class 'int'>

In [9]:
# float
print(type(2.5))

<class 'float'>

In [11]:
# complex
print(type(2+3j))
print(type(4j))

<class 'complex'>
<class 'complex'>

In [12]:
# list
print(type(['Apple','Banana','Cherry']))

<class 'list'>

In [13]:
# tuple
x = ('Ramana','Chitti babu','Pushpa')
print(type(x))

<class 'tuple'>

In [14]:
# range
x = range(6)
print(type(x))

<class 'range'>

In [18]:
# dict
y = dict(name='rahiman',age=25)
print(type(y))

z = {'name':'rahiman','class':'CSE-B','age':21}
print(type(z))

<class 'dict'>
<class 'dict'>