In [2]:
# actually we can't combine string and numbers

# but we can overcome the scenario by using python built function format()

age = 36
txt = 'This is ' + age ### you will receive error
print(txt)

TypeError: can only concatenate str (not "int") to str

In [5]:
# to over come above scenario we use format()

# F string was introduced in python 3.6 and put an f infront of string  and add curly {} placeholder for other type of varaible/operator while combining

number = 36
txt = f'This is  {number}' 
print(txt)

This is  36

In [8]:
# a place holder can include a modifies to format a value. 

# a modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals.

price = 59
txt = f" the price is {price:.2f}" 
print(txt)

 the price is 59.00

In [13]:
txt  = f"the price is {20*59:.2f} dollars"
bc = f"the price is {20*59} rupees"
print(txt)
print(bc)

the price is 1180.00 dollars
the price is 1180 rupees

In [14]:
# we can also use another type to combine two different datatypes. 

# simply by separatin comma , 

place = 'Hyderabad'
print(place, 'is ', 12, 'KM')

Hyderabad is  12 KM