In [2]:
tuple = ('apple','banana','cherry')
print(tuple)
print(type(tuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [3]:
#tuples are used to multiple items in sinle variable.
#tuple is a collection which is ordered and unchangeable

#tuples are represented in round brackets.

In [4]:
#tuples are ordered, unchaneable and allow duplicate values.

# tuples items follows idenx methodolgy.

In [6]:
print(len(tuple))

3

In [8]:
# if your tuple contains one item. then after the item a comma should be placed. else python will not consider it as tuple


tuple2 = ('item1',)
print(tuple2)
print(len(tuple2),type(tuple2))

('item1',)
1 <class 'tuple'>

In [10]:
# tuples can be any datatype

tuple3 = ('letter',2,'2.5',True)
print(tuple3)

('letter', 2, '2.5', True)

In [17]:
#using tuple constructor also we can represet tuple

tuple4 = tuple(("castell","camel","cat")) ##this is works in normla python but in jupyter python this is not working. need to check why.
print(tuple4)

TypeError: 'tuple' object is not callable

In [19]:
print(tuple[1])

banana

In [21]:
print(tuple[-1])

cherry

In [26]:
#once tuple is created we cannot change the items in tuple. 

# but we can convert the tuple into list and change the items insie 

x = ('ant','bear','cat','dog','elephant')
print(type(x), x)

print(x[1])
#converting tuple to list

listy = list(x)
listy[1] = 'bison'
print(listy) ##now we can add, append, anything can be done after converting tuple to list

<class 'tuple'> ('ant', 'bear', 'cat', 'dog', 'elephant')
bear
['ant', 'bison', 'cat', 'dog', 'elephant']

In [30]:
tuple5 = ('elizabeth olsen','emmy rossum','melena','ana de armes','jennifer colony')
print(tuple5)
print(len(tuple5))
### usually once tuple is defined / created, we cant add any items to the tupled list. 
# python does not have built functions to add a new item 
#but python do allow based on below menthod to add any new items to tuple

tup2 = ("katherine langford",) #when creating a tuple with one item, rememeber to include comma after the ite, other it will not remember as tuple

tuple5 += tup2 #this allows to add a tuple to another already existed tuple
print(tuple5)
print(len(tuple5))

('elizabeth olsen', 'emmy rossum', 'melena', 'ana de armes', 'jennifer colony')
5
('elizabeth olsen', 'emmy rossum', 'melena', 'ana de armes', 'jennifer colony', 'katherine langford')
6

In [32]:
# usuall we cannot remove item from tuple. 

# but we can delete entire tuple using 'del' keyword.

del tuple5
print(tuple5)

NameError: name 'tuple5' is not defined